DATABASE_NAME=mydatabase
DATABASE_USER=postgres
DATABASE_PASSWORD=12345
DATABASE_HOST=localhost
DATABASE_PORT=5432

POSTGRES_DB=mydatabase
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret
REDIS_DB=0